:root {
    --black: black;
    --white: white;
    --grey: grey;
    --transparent-black: rgba(0, 0, 0, 0.8);
    --gold: darkgoldenrod;
}

body {
    height: 100%;
    margin: 0px;
    background: var(--black);
    overflow-x: hidden;
    scrollbar-width: none;
    color: var(--white);
    display: grid;
    grid-template-columns: 90%;
    justify-content: center;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

body::-webkit-scrollbar {
    display: none;
}

* {
    font-family: "Outfit", sans-serif;
}

h3 {
    height: 82.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}

span {
    position: absolute;
    top: 70%;
    left: 50%;
    font-weight: bold;
    font-size: 7.5rem;
    transform: rotate(200deg);
}

h2,
label {
    font-size: 1rem;
    font-weight: normal;
    color: var(--grey);
    margin: 0.65rem 0 -0.85rem 0;
}

p {
    font-size: 1.35rem;
    margin: 1rem 0;
}

small {
    font-size: 1.2rem;
    padding-left: 2.5vw;
}

.menuButtons {
    font-weight: bold;
    color: var(--white);
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    opacity: 0;
    position: fixed;
    bottom: 2.5vh;
    right: 5vw;
    transition: transform 0.35s ease-out, opacity 0.2s ease, translate 0.15s ease-out;
}

#menuButton {
    opacity: 1;
    z-index: 1;
    transform: rotate(45deg);
}

ion-icon {
    translate: 0 0.2rem;
    font-size: 1.2rem;
    padding-left: 3.5vw;
    color: var(--white);
}

#menuButton>ion-icon {
    font-size: 3rem;
}

#bookList {
    height: 100vh;
    overflow-y: scroll;
    transition: padding 0.2s ease;
}

#bookList>button {
    font-size: 1.2rem;
    margin: 0.7rem 0;
    color: var(--white);
    background-color: var(--black);
    border: none;
    width: 100%;
    text-align: left;
}

.pageFiller {
    background-color: var(--black);
    height: 100%;
    width: 90%;
    padding: 0 5vw;
    z-index: 2;
}

#bookDetails {
    position: absolute;
    top: 0%;
    right: 150%;
    transition: right 0.25s ease-out;
}

#editButton {
    opacity: 1;
    position: absolute;
    bottom: 2vh;
    right: 5.5vw;

}

#editButton>ion-icon {
    font-size: 1.5rem;
}

#bookFormDiv {
    height: 100%;
    z-index: 2;
    position: absolute;
    top: -250%;
    transition: 0.5s ease-out;
}

#submitButton {
    width: 100%;
    height: 6vh;
    border-radius: 0.9rem;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--black);
    background-color: var(--gold);
}

input,
textarea {
    width: 95%;
    margin: 0.2rem 0 0.7rem 0;
    font-size: 1.1rem;
}

select {
    font-size: 1rem;
    margin-right: 2.5vw;
}

input,
textarea,
select {
    border: 2px solid var(--grey);
    border-radius: 0.75rem;
    background-color: transparent;
    color: var(--white);
    padding: 0.2rem 2vw;
}

select>option {
    background-color: var(--black);
    color: var(--white);
}

#search {
    position: absolute;
    top: -5vh;
    left: 5vw;
    width: 90vw;
    border-radius: 1rem;
    font-size: 1rem;
    transition: 0.25s ease;
}

#sortBack {
    z-index: 2;
    position: absolute;
    top: -150vh;
    height: 100%;
    width: 90%;
    background-color: var(--transparent-black);
}

#sortPopup {
    z-index: 2;
    height: 60%;
    width: 70%;
    position: absolute;
    top: -150vh;
    left: 15vw;
    border-radius: 0.75rem;
    border: none;
    background-color: var(--black);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.sortButtons {
    opacity: 0;
    margin: 0.5rem;
    padding: 0.2rem 0vw;
    width: 55vw;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--black);
    color: var(--white);
}

#snackbar {
    visibility: hidden;
    min-width: 25vw;
    background-color: var(--grey);
    text-align: center;
    border-radius: 0.9rem;
    padding: 0.75rem;
    position: fixed;
    z-index: 1;
    left: 30%;
    bottom: 5vh;
    font-size: 1rem;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 5vh;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 5vh;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 5vh;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 5vh;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}